.checkpassword{
  padding-top: 200px;
}
.hello{
  padding-top: 10px;
  padding-bottom: 100px;
  border-color: black;
  border-radius: 25px;
  background-color: gray;
  max-width: 25%;
}
.btn{
  padding-top: 50px;
}